USE [master]
GO
/****** Object:  Database [OMS]    Script Date: 15-12-2020 14:32:23 ******/
CREATE DATABASE [OMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pooling', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Pooling.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pooling_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Pooling_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OMS]
GO
USE [OMS]
GO
/****** Object:  UserDefinedFunction [dbo].[get_fun_Rating_values]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[get_fun_Rating_values]
 (
  @code varchar(15),@Rating_name varchar(50)
 )
 returns int
 as
 begin
    Declare @val_Rating_value int=0
	select @val_Rating_value=Rating_Values from pps_tbl_rating_master where Code=@code and Rating_name=@Rating_name

	return @val_Rating_value
 end
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_CHECK_RATING]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION [dbo].[UDF_CHECK_RATING]
 (
	@Rating VARCHAR(100)
 )
 RETURNS VARCHAR(10)
 AS
 BEGIN
	DECLARE @RatingVale VARCHAR(10)
	IF (CHARINDEX(' ',RTRIM(LTRIM(@Rating))))>0 AND (CHARINDEX(']',RTRIM(LTRIM(@Rating))))>0
	BEGIN
		SET @RatingVale=SUBSTRING(@Rating,CHARINDEX(' ',RTRIM(LTRIM(@Rating)))+1,LEN(@Rating))
	END
	ELSE IF (CHARINDEX(' ',RTRIM(LTRIM(@Rating))))=0 AND (CHARINDEX(']',RTRIM(LTRIM(@Rating))))>0
	BEGIN
		SET @RatingVale= SUBSTRING(@Rating,CHARINDEX(']',RTRIM(LTRIM(@Rating)))+1,LEN(@Rating))
	END
	ELSE IF (CHARINDEX(' ',RTRIM(LTRIM(@Rating))))>0 AND (CHARINDEX(']',RTRIM(LTRIM(@Rating))))=0
	BEGIN
		SET @RatingVale= SUBSTRING(@Rating,CHARINDEX(' ',RTRIM(LTRIM(@Rating)))+1,LEN(@Rating))
	END
	ELSE
	BEGIN
		SET @RatingVale= 'Invalid-Input'
	END
	RETURN @RatingVale
END
GO
/****** Object:  Table [dbo].[EmailUtilityEmailAudit]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailUtilityEmailAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Emailid] [varchar](200) NULL,
	[MessageUid] [varchar](200) NULL,
	[EmailReceivedDate] [datetime] NULL,
	[EmailInfo] [varchar](200) NULL,
	[createDate] [datetime] NULL,
 CONSTRAINT [PK_EmailUtilityEmailAudit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_OMS_email_info]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_OMS_email_info](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[To_email_ids] [varchar](max) NULL,
	[CC_email_ids] [varchar](max) NULL,
	[FileName] [varchar](max) NULL,
	[Created_Date] [datetime] NULL,
	[is_email_sent] [bit] NULL,
 CONSTRAINT [PK_pps_OMS_email_info] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_activity_Report]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_activity_Report](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ISIN] [varchar](100) NULL,
	[Issuer_Name] [varchar](300) NULL,
	[Created_By] [varchar](100) NULL,
	[Created_date] [datetime] NULL,
	[Modify_by] [varchar](100) NULL,
	[Modify_date] [datetime] NULL,
 CONSTRAINT [PK_pooling_tbl_activity_Report] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_bonds_trans]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_bonds_trans](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Issuer_Name] [varchar](500) NULL,
	[ISIN] [varchar](200) NULL,
	[Maturity_Date] [datetime] NULL,
	[Put_Call] [varchar](200) NULL,
	[Rating] [varchar](100) NULL,
	[Structure] [varchar](300) NULL,
	[Reason_for_poll] [varchar](200) NULL,
	[Traded_Yeild] [varchar](100) NULL,
	[Quantum_CR] [numeric](18, 2) NULL,
	[Other_info] [varchar](200) NULL,
	[Yesterday_Valuation] [varchar](200) NULL,
	[OMS_Level] [varchar](100) NULL,
	[OMS_Range] [varchar](100) NULL,
	[Comments_For_Poll_Provider] [varchar](500) NULL,
	[Comment_Type_ID] [int] NULL,
	[Clasification] [varchar](200) NULL,
	[Is_Updation_Done] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [datetime] NULL,
	[Modify_By] [int] NULL,
	[Modify_Date] [datetime] NULL,
	[Secutity_Type] [varchar](50) NULL,
 CONSTRAINT [PK_pooling_tbl_bonds_trans] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_file_audit]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_file_audit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[File_Name] [varchar](200) NULL,
	[Total_Record] [int] NULL,
	[Created_Date] [datetime] NULL,
	[File_Type] [varchar](100) NULL,
 CONSTRAINT [PK_pooling_tbl_file_audit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_lov]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_lov](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NULL,
	[Name] [varchar](100) NULL,
	[CategoryID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Created_By] [varchar](100) NULL,
	[Created_Date] [datetime] NULL,
	[Modify_By] [varchar](100) NULL,
	[Modify_Date] [datetime] NULL,
 CONSTRAINT [PK_pooling_tbl_lov] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_lov_category]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_lov_category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [varchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[Created_By] [varchar](100) NULL,
	[Created_Date] [datetime] NULL,
	[Modify_By] [varchar](100) NULL,
	[Modify_Date] [datetime] NULL,
 CONSTRAINT [PK_pooling_tbl_lov_category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_median_trans]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_median_trans](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Issuer_Name] [varchar](500) NULL,
	[ISIN] [varchar](100) NULL,
	[Liquidity] [varchar](100) NULL,
	[Maturity_Date] [datetime] NULL,
	[Median] [varchar](50) NULL,
	[Created_By] [varchar](20) NULL,
	[Created_Date] [datetime] NULL,
	[Modify_By] [varchar](50) NULL,
	[Modify_Date] [datetime] NULL,
 CONSTRAINT [PK_pps_tbl_median_trans] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_menu_master]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_menu_master](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Link] [varchar](200) NULL,
	[Title] [varchar](200) NULL,
	[css_Class] [varchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[Created_By] [varchar](100) NULL,
	[Created_Date] [datetime] NULL,
	[Modify_By] [varchar](100) NULL,
	[Modify_Date] [datetime] NULL,
 CONSTRAINT [PK_pooling_tbl_menu_master] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_menu_role_mapping]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_menu_role_mapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MenuID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Created_By] [varchar](100) NULL,
	[Created_Date] [datetime] NULL,
	[Modify_By] [varchar](100) NULL,
	[Modify_Date] [datetime] NULL,
 CONSTRAINT [PK_pooling_tbl_menu_role_mapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_rating_master]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_rating_master](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](30) NULL,
	[Name] [varchar](100) NULL,
	[Rating] [varchar](100) NULL,
	[Rating_name] [varchar](20) NULL,
	[Rating_Values] [int] NULL,
	[IsActive] [bit] NULL,
	[created_by] [varchar](30) NULL,
	[created_date] [datetime] NULL,
	[modify_by] [varchar](30) NULL,
	[modify_date] [datetime] NULL,
 CONSTRAINT [PK_pps_tbl_rating_master] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_role_master]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_role_master](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](100) NULL,
	[Name] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[Created_By] [varchar](100) NULL,
	[Created_Date] [datetime] NULL,
	[Modify_By] [varchar](100) NULL,
	[Modify_Date] [datetime] NULL,
 CONSTRAINT [PK_pooling_tbl_role_master] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_security_type]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_security_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[IsActive] [bit] NULL,
	[Created_By] [varchar](100) NULL,
	[Created_Date] [datetime] NULL,
	[Modify_By] [varchar](100) NULL,
	[Modify_Date] [datetime] NULL,
 CONSTRAINT [PK_pooling_tbl_bonds_type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_trans_audit]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_trans_audit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OMS_trans_id] [int] NOT NULL,
	[OMS_Level] [varchar](300) NULL,
	[OMS_Range] [varchar](300) NULL,
	[Comments_for_poll_Provider] [varchar](max) NULL,
	[Comment_Type_ID] [int] NULL,
	[Created_date] [datetime] NULL,
	[Created_By] [varchar](30) NULL,
	[Modify_By] [varchar](30) NULL,
	[Modify_date] [datetime] NULL,
 CONSTRAINT [PK_pps_tbl_trans_audit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_transaction_lock]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_transaction_lock](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Bond_Trans_ID] [int] NOT NULL,
	[Locked_By] [varchar](200) NULL,
	[Created_date] [datetime] NULL,
	[Modify_By] [varchar](200) NULL,
	[Modify_Date] [datetime] NULL,
 CONSTRAINT [PK_pooling_tbl_transaction_lock] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pps_tbl_user_master]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pps_tbl_user_master](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Name] [varchar](200) NULL,
	[Email] [varchar](100) NULL,
	[RoleID] [int] NULL,
	[fullaccess] [bit] NULL,
	[IsActive] [bit] NULL,
	[Created_By] [varchar](100) NULL,
	[Created_Date] [datetime] NULL,
	[Modify_By] [varchar](100) NULL,
	[Modify_Date] [datetime] NULL,
 CONSTRAINT [PK_pooling_tbl_user_master] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysm_sql_query_master]    Script Date: 15-12-2020 14:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysm_sql_query_master](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KeyCode] [varchar](500) NOT NULL,
	[Query] [varchar](max) NOT NULL,
	[Type] [varchar](20) NULL,
	[Remark] [varchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Createdby] [varchar](20) NULL,
	[Created_date] [datetime] NULL,
	[Modify_by] [varchar](20) NULL,
	[Modify_date] [datetime] NULL,
 CONSTRAINT [PK_sysm_sql_query_master] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmailUtilityEmailAudit] ON 

INSERT [dbo].[EmailUtilityEmailAudit] ([ID], [Emailid], [MessageUid], [EmailReceivedDate], [EmailInfo], [createDate]) VALUES (155, N'Ghanshyam.Vishwakarma@cylsys.com', N'1032', CAST(N'2020-09-07T07:27:43.000' AS DateTime), N'"Ghanshyam Vishwakarma" <Ghanshyam.Vishwakarma@cylsys.com>', CAST(N'2020-09-07T16:02:01.163' AS DateTime))
INSERT [dbo].[EmailUtilityEmailAudit] ([ID], [Emailid], [MessageUid], [EmailReceivedDate], [EmailInfo], [createDate]) VALUES (156, N'Ghanshyam.Vishwakarma@cylsys.com', N'1032', CAST(N'2020-09-07T07:27:43.000' AS DateTime), N'"Ghanshyam Vishwakarma" <Ghanshyam.Vishwakarma@cylsys.com>', CAST(N'2020-09-08T09:56:56.983' AS DateTime))
INSERT [dbo].[EmailUtilityEmailAudit] ([ID], [Emailid], [MessageUid], [EmailReceivedDate], [EmailInfo], [createDate]) VALUES (157, N'Ghanshyam.Vishwakarma@cylsys.com', N'1039', CAST(N'2020-09-08T04:25:08.000' AS DateTime), N'"Ghanshyam Vishwakarma" <Ghanshyam.Vishwakarma@cylsys.com>', CAST(N'2020-09-08T09:56:57.793' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EmailUtilityEmailAudit] OFF
SET IDENTITY_INSERT [dbo].[pps_OMS_email_info] ON 

INSERT [dbo].[pps_OMS_email_info] ([ID], [To_email_ids], [CC_email_ids], [FileName], [Created_Date], [is_email_sent]) VALUES (4, N'Amit.Sharma@uti.co.in', N'', N'OMS Template_28022020.xlsx', CAST(N'2020-11-18T13:18:28.797' AS DateTime), NULL)
INSERT [dbo].[pps_OMS_email_info] ([ID], [To_email_ids], [CC_email_ids], [FileName], [Created_Date], [is_email_sent]) VALUES (5, N'icra.OMS@icraanalytics.com', N'', N'ICRA_OMS template_28022020_Lot 1__ Outlier.xlsx', CAST(N'2020-11-18T13:18:29.300' AS DateTime), NULL)
INSERT [dbo].[pps_OMS_email_info] ([ID], [To_email_ids], [CC_email_ids], [FileName], [Created_Date], [is_email_sent]) VALUES (6, N'icra.OMS@icraanalytics.com', N'fig@icraanalytics.com,fig@icraanalytics.co.in,icra.OMS@icraanalytics.com,Slv@crisil.com,fixedincome@crisil.com,SLR.Valuations@crisil.com', N'ICRA_OMS template_04032020_Lot 1.xlsx', CAST(N'2020-11-18T13:18:30.660' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[pps_OMS_email_info] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_file_audit] ON 

INSERT [dbo].[pps_tbl_file_audit] ([ID], [File_Name], [Total_Record], [Created_Date], [File_Type]) VALUES (4060, N'Median 11112020.xlsx', 46, CAST(N'2020-11-11T08:49:40.210' AS DateTime), NULL)
INSERT [dbo].[pps_tbl_file_audit] ([ID], [File_Name], [Total_Record], [Created_Date], [File_Type]) VALUES (4061, N'Median 23112020.xlsx', 27, CAST(N'2020-11-23T13:13:15.910' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[pps_tbl_file_audit] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_lov] ON 

INSERT [dbo].[pps_tbl_lov] ([ID], [Code], [Name], [CategoryID], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (1, N'#NONPART#', N'Non Pertinent', 1, 1, N'3710', CAST(N'2020-09-22T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_lov] ([ID], [Code], [Name], [CategoryID], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (2, N'#OTH#', N'Other', 1, 1, N'3710', CAST(N'2020-09-22T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_lov] ([ID], [Code], [Name], [CategoryID], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (1002, N'#UPTO3M#', N'Up to 3 months

', 2, 1, N'3710', CAST(N'2020-09-30T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[pps_tbl_lov] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_lov_category] ON 

INSERT [dbo].[pps_tbl_lov_category] ([ID], [Code], [Name], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (1, N'#CMNT_TYPE#', N'Comment Type', 1, N'3710', CAST(N'2020-09-22T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_lov_category] ([ID], [Code], [Name], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (2, N'#BPS_TYPE#', N'Bps Type', 1, N'3710', CAST(N'2020-09-30T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[pps_tbl_lov_category] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_median_trans] ON 

INSERT [dbo].[pps_tbl_median_trans] ([ID], [Issuer_Name], [ISIN], [Liquidity], [Maturity_Date], [Median], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (43, N'NATIONAL BANK FOR AGRI & RURAL', N'INE261F16504', N'LIQUID', CAST(N'2021-02-18T00:00:00.000' AS DateTime), N'3.40%', NULL, CAST(N'2020-11-11T08:49:31.197' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_median_trans] ([ID], [Issuer_Name], [ISIN], [Liquidity], [Maturity_Date], [Median], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (44, N'ADITYA BIRLA MONEY LIMITED', N'INE865C14FI9', N'ILLIQUID', CAST(N'2020-11-23T00:00:00.000' AS DateTime), N'5.50%', NULL, CAST(N'2020-11-11T08:49:37.773' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_median_trans] ([ID], [Issuer_Name], [ISIN], [Liquidity], [Maturity_Date], [Median], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (45, N'KEC INTERNATIONAL LIMITED', N'INE389H14FK5', N'ILLIQUID', CAST(N'2020-12-23T00:00:00.000' AS DateTime), N'4.80%', NULL, CAST(N'2020-11-11T08:49:37.817' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[pps_tbl_median_trans] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_menu_master] ON 

INSERT [dbo].[pps_tbl_menu_master] ([ID], [Link], [Title], [css_Class], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (1, N'/OMSData', N'OMS Data', NULL, 1, N'3710', CAST(N'2020-08-31T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_menu_master] ([ID], [Link], [Title], [css_Class], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (1002, N'/FileUploadStatus', N'File Upload Status', NULL, 1, N'3710', CAST(N'2020-09-08T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_menu_master] ([ID], [Link], [Title], [css_Class], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (1003, N'/ActivityReport', N'Activity Report', NULL, 1, N'3710', CAST(N'2020-09-08T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[pps_tbl_menu_master] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_menu_role_mapping] ON 

INSERT [dbo].[pps_tbl_menu_role_mapping] ([ID], [MenuID], [RoleID], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (1004, 1003, 2, 1, NULL, CAST(N'2020-09-18T11:57:02.377' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_menu_role_mapping] ([ID], [MenuID], [RoleID], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (2004, 1, 1, 1, NULL, CAST(N'2020-09-29T13:20:28.547' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_menu_role_mapping] ([ID], [MenuID], [RoleID], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (2005, 1002, 1, 1, NULL, CAST(N'2020-09-29T13:20:28.620' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[pps_tbl_menu_role_mapping] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_rating_master] ON 

INSERT [dbo].[pps_tbl_rating_master] ([ID], [Code], [Name], [Rating], [Rating_name], [Rating_Values], [IsActive], [created_by], [created_date], [modify_by], [modify_date]) VALUES (1, N'UpTo3M', N'Up to 3 months

', N'[ICRA]AAA
', N'AAA', 100, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[pps_tbl_rating_master] ([ID], [Code], [Name], [Rating], [Rating_name], [Rating_Values], [IsActive], [created_by], [created_date], [modify_by], [modify_date]) VALUES (2, N'UpTo3M', N'Up to 3 months', N'CARE A+
', N'A1+', 125, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[pps_tbl_rating_master] ([ID], [Code], [Name], [Rating], [Rating_name], [Rating_Values], [IsActive], [created_by], [created_date], [modify_by], [modify_date]) VALUES (4, N'UpTo3M', N'Up to 3 months', NULL, N'AA+', 125, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[pps_tbl_rating_master] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_role_master] ON 

INSERT [dbo].[pps_tbl_role_master] ([ID], [Code], [Name], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (1, N'#ADM#', N'Admin', 1, N'3710', CAST(N'2020-08-31T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_role_master] ([ID], [Code], [Name], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (2, N'SPADMN', N'Super Admin', 1, NULL, CAST(N'2020-09-15T18:03:57.870' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_role_master] ([ID], [Code], [Name], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (1002, N'test', N'test', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[pps_tbl_role_master] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_security_type] ON 

INSERT [dbo].[pps_tbl_security_type] ([ID], [Name], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (1, N'Corporate Bonds (CB)', 1, N'3710', CAST(N'2020-08-31T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_security_type] ([ID], [Name], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (2, N'Commercial Papers (CP)', 1, N'3710', CAST(N'2020-08-31T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_security_type] ([ID], [Name], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (3, N'Certificate of Deposits (CD)', 1, N'3710', CAST(N'2020-08-31T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[pps_tbl_security_type] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_trans_audit] ON 

INSERT [dbo].[pps_tbl_trans_audit] ([ID], [OMS_trans_id], [OMS_Level], [OMS_Range], [Comments_for_poll_Provider], [Comment_Type_ID], [Created_date], [Created_By], [Modify_By], [Modify_date]) VALUES (1, 2091, N'65', N'566', N'tetstt', 1, NULL, NULL, N'3710', CAST(N'2020-09-22T12:48:29.743' AS DateTime))
INSERT [dbo].[pps_tbl_trans_audit] ([ID], [OMS_trans_id], [OMS_Level], [OMS_Range], [Comments_for_poll_Provider], [Comment_Type_ID], [Created_date], [Created_By], [Modify_By], [Modify_date]) VALUES (2, 2092, N'', N'', N'Testing 2', 2, NULL, NULL, N'3710', CAST(N'2020-09-22T12:58:31.033' AS DateTime))
INSERT [dbo].[pps_tbl_trans_audit] ([ID], [OMS_trans_id], [OMS_Level], [OMS_Range], [Comments_for_poll_Provider], [Comment_Type_ID], [Created_date], [Created_By], [Modify_By], [Modify_date]) VALUES (1002, 3091, N'13.00%', N'20', N'', 1, NULL, NULL, N'3710', CAST(N'2020-09-30T13:19:28.057' AS DateTime))
SET IDENTITY_INSERT [dbo].[pps_tbl_trans_audit] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_transaction_lock] ON 

INSERT [dbo].[pps_tbl_transaction_lock] ([ID], [Bond_Trans_ID], [Locked_By], [Created_date], [Modify_By], [Modify_Date]) VALUES (4, 46, N'3710', CAST(N'2020-09-08T10:10:51.953' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_transaction_lock] ([ID], [Bond_Trans_ID], [Locked_By], [Created_date], [Modify_By], [Modify_Date]) VALUES (5, 47, N'3710', CAST(N'2020-09-08T18:18:03.067' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_transaction_lock] ([ID], [Bond_Trans_ID], [Locked_By], [Created_date], [Modify_By], [Modify_Date]) VALUES (6, 61, N'3710', CAST(N'2020-09-09T14:45:29.750' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[pps_tbl_transaction_lock] OFF
SET IDENTITY_INSERT [dbo].[pps_tbl_user_master] ON 

INSERT [dbo].[pps_tbl_user_master] ([ID], [Code], [Name], [Email], [RoleID], [fullaccess], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (1, N'3710', N'Smita Joshi', N'Smita.joshi@uti.co.in', 1, 0, 1, N'3710', CAST(N'2020-08-31T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_user_master] ([ID], [Code], [Name], [Email], [RoleID], [fullaccess], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (2, N'5500', N'ghanshyam', N'softgv91@gmail.com', 2, NULL, 1, NULL, CAST(N'2020-09-15T17:52:33.130' AS DateTime), NULL, NULL)
INSERT [dbo].[pps_tbl_user_master] ([ID], [Code], [Name], [Email], [RoleID], [fullaccess], [IsActive], [Created_By], [Created_Date], [Modify_By], [Modify_Date]) VALUES (3, N'5588', N'Ghanshyam', N'softgv91@gmail.com', 1, NULL, 1, NULL, CAST(N'2020-09-15T17:56:19.023' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[pps_tbl_user_master] OFF
ALTER TABLE [dbo].[EmailUtilityEmailAudit] ADD  CONSTRAINT [DF_EmailUtilityEmailAudit_createDate]  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[pps_tbl_activity_Report] ADD  CONSTRAINT [DF_pooling_tbl_activity_Report_Created_date]  DEFAULT (getdate()) FOR [Created_date]
GO
ALTER TABLE [dbo].[pps_tbl_bonds_trans] ADD  CONSTRAINT [DF_pooling_tbl_bonds_trans_Is_Updation_Done]  DEFAULT ((0)) FOR [Is_Updation_Done]
GO
ALTER TABLE [dbo].[pps_tbl_transaction_lock] ADD  CONSTRAINT [DF_pooling_tbl_transaction_lock_Created_date]  DEFAULT (getdate()) FOR [Created_date]
GO
ALTER TABLE [dbo].[pps_tbl_lov]  WITH CHECK ADD  CONSTRAINT [FK_pooling_tbl_lov_pooling_tbl_lov_category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[pps_tbl_lov_category] ([ID])
GO
ALTER TABLE [dbo].[pps_tbl_lov] CHECK CONSTRAINT [FK_pooling_tbl_lov_pooling_tbl_lov_category]
GO
/****** Object:  StoredProcedure [dbo].[getEmailUtilityEmailAudit]    Script Date: 15-12-2020 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[getEmailUtilityEmailAudit]
	
AS
BEGIN
	SET NOCOUNT ON;

    SELECT Id, EmailId,MessageUid,EmailReceivedDate, EmailInfo FROM [dbo].[EmailUtilityEmailAudit]
	WHERE CAST(CreateDate AS DATE)= CAST(GETDATE() AS DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertEmailUtilityEmailAudit]    Script Date: 15-12-2020 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[InsertEmailUtilityEmailAudit]
	@EmailId varchar(100),
	@EmailInfo varchar(800),
	@MessageUid varchar(100),
	@EmailReceivedDate DATETIME
AS
BEGIN
	SET NOCOUNT ON;
     INSERT INTO EmailUtilityEmailAudit(EmailId,MessageUid,EmailReceivedDate, EmailInfo)
	 VALUES(@EmailId,@MessageUid,@EmailReceivedDate, @EmailInfo)
END
GO
/****** Object:  StoredProcedure [dbo].[PPS_SP_DATA_FOR_SHEET_UPDATION]    Script Date: 15-12-2020 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PPS_SP_DATA_FOR_SHEET_UPDATION]
@from_date datetime=null,
@to_date datetime=null
AS
BEGIN

		   SELECT 
		         ISIN
		         ,OMS_Level
				,OMS_Range 
				,Comments_For_Poll_Provider  
			FROM pps_tbl_bonds_trans
	  	   WHERE CONVERT(date,Created_Date,106) between CONVERT(date,@from_date,106) AND CONVERT(date,@to_date,106)

END		
GO
/****** Object:  StoredProcedure [dbo].[PPS_SP_Email_file_info]    Script Date: 15-12-2020 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[PPS_SP_Email_file_info]
@from_date datetime=null,
@to_date datetime=null
AS

BEGIN
   select * from pps_OMS_email_info where CONVERT(date,created_date,106) between CONVERT(Date,@from_date,106) and CONVERT(date,@to_date,106)
END
GO
/****** Object:  StoredProcedure [dbo].[PPS_SP_EMAIL_SENT_LOG]    Script Date: 15-12-2020 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PPS_SP_EMAIL_SENT_LOG]
@ID int
AS
BEGIN
  UPDATE pps_OMS_email_info SET is_email_sent=1 where ID=@ID
  Select 'Date updated successfully'
END
GO
/****** Object:  StoredProcedure [dbo].[pps_sp_get_outlier_report]    Script Date: 15-12-2020 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[pps_sp_get_outlier_report] '2020-10-23','2020-10-23','Test'
CREATE PROC [dbo].[pps_sp_get_outlier_report]
	@from_date datetime=null,
	@to_date datetime=null,
	@report_type varchar(50)=null
as
begin

DECLARE @Outlier_data TABLE (
							  Issuer_Name varchar(500) NOT NULL,
							  ISIN nvarchar(50) NOT NULL,
							  OMS_Level nvarchar(50) NOT NULL,
							  Median nvarchar(50) NOT NULL,
							  Val_OMS_level Numeric(18,2) NOT NULL,
							  Val_median Numeric(18,2) NOT NULL,
							  bps_Code varchar(100),
							  Rating varchar(20),
							  Temp_Rating varchar(10),
							  Maturity_date datetime
                           );

INSERT INTO @Outlier_data(
                         Issuer_Name,ISIN,OMS_Level,Median
                         ,Val_OMS_level,Val_median
						 ,bps_Code
						 ,Rating
						 ,Temp_Rating,
						 Maturity_date
						 )
       SELECT 
                          bt.Issuer_Name,bt.ISIN,bt.OMS_Level,mt.Median
						  ,CONVERT(numeric(18,2),(REPLACE( ISNULL(bt.OMS_Level,0),'%',''))),CONVERT(numeric(18,2),(REPLACE(mt.Median,'%','')))
						  ,case when DATEDIFF(month,CONVERT(date,getdate()), CONVERT(date,bt.maturity_date))<=3 then 'UpTo3M'
						        when DATEDIFF(month,CONVERT(date,getdate()), CONVERT(date,bt.maturity_date))<=12 then 'UpTo1Y'
								else 'MOTHN1YR' end
						  ,bt.Rating
						  ,dbo.UDF_CHECK_RATING(bt.Rating) as Rating2
						  ,bt.Maturity_Date
from pps_tbl_bonds_trans bt 
inner join pps_tbl_median_trans mt on mt.ISIN=bt.ISIN and (bt.OMS_Level<>'' and bt.OMS_Level is not null)
--WHERE CONVERT(date,bt.Created_Date,106) between CONVERT(date,@from_date,106) AND CONVERT(date,@to_date,106)

select Issuer_Name,ISIN,OMS_Level,Median,(Val_OMS_level-Val_median) diff,(Val_OMS_level-Val_median)*100 basisValue,

bps_Code,Rating
,Temp_Rating
,dbo.get_fun_Rating_values(bps_Code,Temp_Rating) Rating_Value
,case 
    when bps_Code='UpTo3M' then 'Up to 3 months'
	when bps_Code='UpTo1Y' then 'Up to 1 year'
	else
	'More than 1 year' end Bps_Name
	,Maturity_date
	,case when (Val_OMS_level-Val_median)*100 <dbo.get_fun_Rating_values(bps_Code,Temp_Rating) then 1 else 0 end is_outlier
from @Outlier_data

end
GO
/****** Object:  StoredProcedure [dbo].[PPS_SP_OMS_DATA_UPDATE]    Script Date: 15-12-2020 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PPS_SP_OMS_DATA_UPDATE]
	@OMS_Level varchar(100)='',
	@OMS_Range varchar(200)='',
	@Comment_Type_ID int,
	@Comments_For_Pool_Provider varchar(max)='',
	@ID int,
	@UserID varchar(20)
AS
BEGIN

SET NOCOUNT ON; 


IF NOT EXISTS(SELECT 1 FROM pps_tbl_transaction_lock where Bond_Trans_ID=@ID)
	  BEGIN
	    UPDATE pps_tbl_bonds_trans 
	                              SET OMS_Level=@OMS_Level,OMS_Range=@OMS_Range,Comments_For_Poll_Provider=@Comments_For_Pool_Provider,Comment_Type_ID=@Comment_Type_ID,Is_Updation_Done=1,Modify_By=@UserID,Modify_Date=getdate()
	                        WHERE ID=@ID
	
		

		INSERT INTO pps_tbl_trans_audit(
								OMS_trans_id,OMS_Level,OMS_Range,Comments_for_poll_Provider,Comment_Type_ID,Modify_By,Modify_date 
								)
						  VALUES(
						          @ID,@OMS_Level,@OMS_Range,@Comments_For_Pool_Provider,@Comment_Type_ID,@UserID,GETDATE()
								)


		INSERT INTO pps_tbl_transaction_lock(Bond_Trans_ID,locked_by) values(@ID,@UserID)

   select  'Data update successfully'

 END
ELSE IF EXISTS(SELECT 1 FROM pps_tbl_transaction_lock where Bond_Trans_ID=@ID and locked_by=@UserID)
	BEGIN
	      UPDATE pps_tbl_bonds_trans 
	                              SET OMS_Level=@OMS_Level,OMS_Range=@OMS_Range,Comments_For_Poll_Provider=@Comments_For_Pool_Provider,Comment_Type_ID=@Comment_Type_ID,Is_Updation_Done=1,Modify_By=@UserID,Modify_Date=getdate()
	                        WHERE ID=@ID


        INSERT INTO pps_tbl_trans_audit(
								OMS_trans_id,OMS_Level,OMS_Range,Comments_for_poll_Provider,Comment_Type_ID,Modify_By,Modify_date 
								)
						  VALUES(
						          @ID,@OMS_Level,@OMS_Range,@Comments_For_Pool_Provider,@Comment_Type_ID,@UserID,GETDATE()
								)

		select  'Data update successfully'
	
	END
ELSE
	BEGIN
	Declare @val_name varchar(200)

	SELECT @val_name= um.Name FROM pps_tbl_transaction_lock tl 
	           inner join pps_tbl_user_master um on um.ID=tl.locked_by
	 where tl.Bond_Trans_ID=@ID

	 select  'Record locked by '+@val_name
	
	END
END
		

		
GO
/****** Object:  StoredProcedure [dbo].[PPS_SP_OMS_REPORT]    Script Date: 15-12-2020 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PPS_SP_OMS_REPORT]
@from_date datetime=null,
@to_date datetime=null,
@report_type varchar(50)=null
AS

BEGIN

IF(@report_type='Non Participation')
    BEGIN
                    select
                             -- bt.ID,bt.Issuer_Name,bt.ISIN,bt.Meturity_Date,bt.Put_Call,bt.Rating
							 --,bt.Structure,bt.Reason_for_poll,bt.Traded_Yeild,bt.Quantum_CR
							 --,bt.Other_info,bt.Yesterday_Valuation
                             --,bt.OMS_Level,bt.OMS_Range
							 --,case when bt.Comment_Type_ID =2 then bt.Comments_For_Poll_Provider else  lov.Name end Comments_For_Poll_Provider
							 --,bt.Comment_Type_ID,bt.Clasification,CONVERT(varchar(15),bt.modify_date,106) modify_date
                             --,ISNULL(um.Name,'') modify_by
							 bt.Created_Date [Date_of_OMS],
							 bt.Issuer_Name [Agency_CRISIL_ICRA],
							 bt.ISIN [Secutity_ISIN],
							 '' [Security_description],
							 bt.Rating,
							 bt.Yesterday_Valuation [Last_valuation_by_CRISIL_ICRA],
							 bt.Traded_Yeild [Yield_polled],
							 bt.Comments_For_Poll_Provider
							  
					   from pps_tbl_bonds_trans bt
					   left join PPS_tbl_lov lov on lov.ID =bt.comment_type_id
					   left join pps_tbl_lov_category lovc on lovc.ID=lov.categoryID
                       where lov.Code='#NONPART#'
							AND CONVERT(date,bt.Created_Date,106) between CONVERT(date,@from_date,106) AND CONVERT(date,@to_date,106);-- comment_type_id 2 means non participation
	  END
 ELSE IF(@report_type='Outlier')
	  BEGIN
	    
		 exec [pps_sp_get_outlier_report] @from_date,@to_date,@report_type

	  END
ELSE IF(@report_type='OMS_Data')
	BEGIN
		   SELECT 
	       bt.ID,Issuer_Name,ISIN,Maturity_Date,Put_Call,Rating,Structure,Reason_for_poll,Traded_Yeild,Quantum_CR,Other_info,Yesterday_Valuation,OMS_Level,OMS_Range
	      ,Comments_For_Poll_Provider,lov.Name as Comment_Type,Clasification,um.Name as Modify_by,CONVERT(varchar(17), bt.Modify_Date,113) as Modify_date
		  ,bt.Comment_Type_ID
	   FROM pps_tbl_bonds_trans bt
	   LEFT JOIN pps_tbl_lov lov on lov.ID=bt.Comment_Type_ID
	   LEFT JOIN pps_tbl_lov_category lovc on lovc.ID=lov.CategoryID
	   LEFT JOIN pps_tbl_user_master um on um.Code=bt.Modify_By
	   WHERE CONVERT(date,bt.Created_Date,106) between CONVERT(date,@from_date,106) AND CONVERT(date,@to_date,106)

	END
	
END		
GO
/****** Object:  StoredProcedure [dbo].[pps_sp_rating_activity]    Script Date: 15-12-2020 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pps_sp_rating_activity]
@ActionType varchar(100)=null
as
begin
if(@ActionType='Select')
begin
 select * from  pps_tbl_rating_master
end
end
GO
/****** Object:  StoredProcedure [dbo].[PPS_SP_ROLE_MASTER_ACTIVITY]    Script Date: 15-12-2020 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PPS_SP_ROLE_MASTER_ACTIVITY]
@Code VARCHAR(50)=NULL,
@Name VARCHAR(300)=NULL,
@IsActive bit,
@ID INT,
@USERID VARCHAR(50)
AS
BEGIN

 IF(@ID=0)
    BEGIN
    
        INSERT INTO pps_tbl_role_master(Code,Name,IsActive) Values(@Code,@Name,@IsActive)

        select  'Data inserted successfully'
    END
 ELSE
	BEGIN
	      UPDATE pps_tbl_role_master SET Name=@Name,IsActive=@IsActive where ID=@ID

		  select  'Data updated successfully'
	END
 
END
GO
/****** Object:  StoredProcedure [dbo].[PPS_SP_USER_MASTER_ACTIVITY]    Script Date: 15-12-2020 14:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PPS_SP_USER_MASTER_ACTIVITY]
@Code VARCHAR(50)=NULL,
@Name VARCHAR(300)=NULL,
@Email VARCHAR(100)=NULL,
@IsActive bit,
@RoleID int,
@ID INT,
@USERID VARCHAR(50)
AS
BEGIN

 IF(@ID=0)
    BEGIN
    
        INSERT INTO pps_tbl_user_master(Code,Name,Email,RoleID,IsActive) Values(@Code,@Name,@Email,@RoleID,@IsActive)

        select  'Data inserted successfully'
    END
 ELSE
	BEGIN
	      UPDATE pps_tbl_user_master SET Name=@Name,Email=@Email,RoleID=@RoleID,IsActive=@IsActive where ID=@ID

		  select  'Data updated successfully'
	END
 
END
GO
USE [master]
GO
