
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-white p-3">
    <div class="row pt-2 pb-2">
        <div class="col-md-12">
            <h4><b>Assign Role To Users</b></h4>
            <hr />
        </div>
    </div>

    <div ng-app="myApp" ng-controller="UserList">
        <a href="/User/Download/0" class="btn btn-primary" ng-show="usergridData.length>0">Download Assigned CM</a>
        <br />
        @*<div>
                <form>
                    <div class="row">
                        <center>
                            <div class="form-group col-md-3">
                                <label>Roles</label>
                                <select ng-model="Role_ID" ng-options="x.ID as x.Name for x in getroles" class="form-select"></select>
                            </div>
                        </center>
                    </div>
                </form>
            </div>*@
        <div style="overflow:auto">
            <table class="table table-hover table-bordered" id="table_id">
                <thead>
                    <tr style="background-color:darkgrey">
                        <th>SrNo</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>User Location</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in usergridData">
                        <td>{{$index+1}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.user_location}}</td>
                        <td><select ng-model="item.role_id" ng-options="x.ID as x.Name for x in getroles" class="form-select" validator="[requiredSelect]" required></select></td>
                        <td><button type="submit" class="btn btn-primary" ng-click="save(item)">Update</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>